.container {
  width: 600px;
  margin: 40px auto;
}

/* With psuedo elements, we're targeting the specific content associated with an element */
/* :: : used to declare a psuedo element */
/*note: 1em is 16 pixels, therefore 3em is about 48 pixels */

p::first-letter{
  font-size: 3em;
}


/* : : used to declare a psuedo class */
p:hover {
  background-color: lightskyblue;
}
